<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--    <script type="text/javascript" src="../static/js/createboad.js"></script>-->

</head>
<body>
<table class="table table-sm">
    <thead class="table-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">제목</th>
        <th scope="col">작성자 명</th>
        <th scope="col">작성 날짜</th>
    </tr>
    </thead>
    <tbody id = "check">
    <tr th:each = "board : ${boards}">
        <th scope="row">1</th>
        <td><a th:href="'/board?id='+${board.id}" th:text="${board.title}"></a></td>
        <td th:text = "${board.name}"></td>
        <td th:text = "${board.modifiedAt}"></td>
    </tr>

    </tbody>
</table>

</body>
</html>